body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.simon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 50%;
    width: 50%;
    
}
.firstLayer{
    display: flex;
}
.btn{
    height: 150px;
    width: 150px;
    border: 3px solid black;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.15s ease;
}
.inline{
    display: inline;
}
.hide{
    display: none;
}
.secondLayer{
    display: flex;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.white{
    background-color: white;
}

.btn:hover{
    border: 6px solid black;
    box-shadow: 10px black;
}